body{
    background-color: #EEEEEE;
    height: 1500px;

}



/* header */

.nav-bar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 95%;
    background-color: #dee0ee;
    height: 10%;
    display: row;
    justify-content: flex-start;
    border-radius: 10px;

}

.img-div{
    width: 40%;
    display: flex;
   
}

.ul-div{
    width: 60%;
    display: flex;
    justify-content: flex-end;


    

}
.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
}



.nav-li{
    list-style: none;
    padding: 22px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-li a{
    text-decoration: none;
    color: black;
}

img{
    height: 120px;
    width: 120px;


}

/* article */

.div-article{
    border-radius: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #dee0ee;
    width: 95%;
    height: 50%
    
   
    
}

.slogan-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-div{
    width: 50%;
    
}

.elias-img{
    margin: auto;
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 50%;

}

.h1{
   justify-content: center;
   font-weight: 700;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.p{
    margin-left: 20%;
    width: 80%;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.lorem-div{
    display: flex;
    background-color:#dee0ee ;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    margin-top: 50px;
    border-radius: 10px;
    align-items: center;

    
}

.lorem{
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right:auto;
    width: 70%;
    font-size: 22px;
    
}